:root {
  --main-bg-color: #4E6BE7;
  --main-text-color: white;
}

body {
    font-family: 'Questrial', sans-serif;
    font-size: 0.7rem;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  body h1 {
    font-family: 'Gasoek One', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
  }

  /* NAVBAR */
  ul{
    padding-left: 0;
  }

  li{
    list-style: none;
  }

  a{
    font-family: 'Questrial', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-text-color);
  }

  a:hover{
    color: var(--main-text-color);
  }

  .container-menu{
    width: 100%;
  }

  .navbar{
    min-height: 70px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 12;
    background-color: var(--main-bg-color);
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.5s ease-in-out;
    background-color: var(--main-text-color);
  }

  /*BUTTON BURGER MENU*/
  .color{
    display: none;
    cursor: pointer;
    order: -1;
  }

  .round-button {
    width: 15px;
    height: 15px;
    background-color: var(--main-text-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

/*MAIN*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding: 30px 0;
}

.name {
  text-align: center;
}

.paragraph,
.paragraph-mobile,
.paragraph-mobile {
  text-align: center;
}

/*FOOTER*/
.row{
  margin-left: 0;
  margin-right: 0;
}
.round-button {
  width: 10px;
  height: 10px;
  background-color: var(--main-text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.social {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.social a{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

.footer-mobile{
  display: none;
}

/*PROJECTS*/
.main-project{
  justify-content: space-evenly;
  padding: 30px 0;
}

.project{
  display: flex;
  align-items: start;
}

.project-menu{
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
}

.project-menu:hover{
  font-family: 'Gasoek One', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
}

.project span {
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  margin: 15px 0 0 20px;
}

/*PORTFOLIO SINGLE PROJECT*/
.portfolio{
  height: 90vh;
  display: flex;
  align-items: center ;
}

.description, .description-2{
  width: 50%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p{
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

.description-2 p{
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

.description h1{
  text-align: center;
  margin-top: 80px;
  font-size: 5rem;
}

.description h2{
  font-family: 'Gasoek One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2rem;
}
.description-2 h1{
  text-align: center;
  margin-top: 80px;
  font-size: 4.2rem;
}

.description-2 h2{
  font-family: 'Gasoek One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.cta{
  margin: 30px auto 0 auto;
  width: 70px;
  height: auto;
  border-radius: 50px;
  border: solid 1px var(--main-text-color);
  text-align: center;
  display: flex;
  justify-content:center;
}

.doppia-cta{
  width: 50%;
  display: flex;
  margin-left: 23%;
}

.cta-finale{
  margin: 30px auto 0 auto;
  width: 70px;
  height: auto;
  border-radius: 50px;
  border: solid 1px var(--main-text-color);
  text-align: center;
  display: none;
  justify-content:center;
}

.cta-finale a{
  text-decoration: none;
  color: var(--main-text-color);
}

.description a{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

.description-2 a{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

/*SLIDER*/
.slider{
  height: 85vh;
  overflow: scroll;
  margin-left: 20px;
}

::-webkit-scrollbar {display: none;}

.item {
  width: 700px;
  margin: 0 auto;
}

.item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*BIO*/
.main-profilo{
  height: 80vh;
}

.nome h1{
  font-size: 6rem;
}

.ms-4{
  margin-left: 20px;
}

.ps-4{
  padding-right: 20px;
}

.mar-top{
  margin-top: 13%;
}

.mb-6{
  margin-bottom: 100px;
}

.data h4{
  font-family: 'Gasoek One', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.foto-profilo{
  height: 95%;
}

.foto-profilo img{
  margin-left: 50px;
  width: auto;
  height: 90%;
  overflow: hidden;
}

.cta-2{
  width: 200px;
  height: auto;
  border-radius: 50px;
  border: solid 1px var(--main-text-color);
  margin-right: 45px;
}

.cta-2 a{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  font-size: 0.7rem;
  text-decoration: none;
  color: var(--main-text-color);
  text-align: center;
}

.container-foto{
  padding-right: 15px !important;
}

.main-profilo-mobile{
  display: none;
}


